PID.pdf
index.html
wingdbstub.*
_build/*
.*\.pyc
latent-variable-modelling/images/frames/
other/
figures
temp/
DELETE/*
__pycache__/
.vscode/settings.json
design-analysis-experiments/Readings/
latent-variable-modelling/Readings/
least-squares-modelling/Readings/
univariate-review/Readings/
