pid-book.code-workspace
PID.pdf
index.html
wingdbstub.*
_build/*
.*\.pyc
latent-variable-modelling/images/frames/
other/
figures
temp/
DELETE/*
__pycache__/
**/.vscode/*
**/.mypy_cache/**
**/.ipynb_checkpoints/**


design-analysis-experiments/Readings/
latent-variable-modelling/Readings/
least-squares-modelling/Readings/
univariate-review/Readings/
process-monitoring/Readings/
data-visualization/Readings/

