/*KGD: override some of the theme elements here.*/

.wy-nav-content{max-width:1000px}

.caption-text{
	font-weight: normal;
	color: #009900;
	font-style: italic;
	font-size: 16px;
}

li.toctree-l2{
	margin-left: 0em;
}

/* Permalinks for the h1 headers */
.rst-content h1 .headerlink{	
	visibility: visible;
	color: #888;
}

/* Q&A styling */
.click-to-reveal{
	font-style: italic;
}
.new_question{
	margin-top: 2em;
}

/* MathJax equation numbers */
.eqno{
	float: right;
}

/* In the Index only*/
.indextable ul{
	padding-left: 25px;
}