/*KGD: override some of the theme elements here.*/

.wy-nav-content{max-width:1000px}

.caption-text{
	font-weight: normal;
	color: #009900;
	font-style: italic;
	font-size: 16px;
}

li.toctree-l2{
	margin-left: 0em;
}



/* Q&A styling */
.click-to-reveal{
	font-style: italic;
}
.new_question{
	margin-top: 2em;
}

/* MathJax equation numbers */
.eqno{
	float: right;
}